#cardHolder {
    box-sizing: content-box;
    width: 1080px;
    max-width: 100%;
    min-height: 255px;
    /*background: rgba(0, 0, 0, 0.5);*/
    margin: 10px auto;
    padding: 0 10px;

}

.card-item {
    width: 355px;
    max-width: 100%;
    min-height: 230px;
    margin: 10px 0;
    float: left;
    position: relative;
    cursor: pointer;
}
    .card-item:last-child {
        margin-right: 0;
    }
    .card-item:nth-child(3n+2) {
        margin: 10px 7px;
    }
    .card-item .info {
        border-top: 1px solid #FFF;
        overflow: hidden;
        padding: 5px;
    }
    .card-item .bio-pic {
        float: left;
        height: 112px;
        width: 110px;
        overflow: hidden;
    }
    .card-item .bio-pic img {
        display: block;
        padding: 45px 0;
        border-bottom: 1px solid #000;
    }
    .card-item .bio-info {
        float: right;
        width: 220px;
        display: block;
        text-align: justify;
        font-size: 20px;
    }
    .card-item .bio-info p:first-letter {
        font-size: 22px;
        padding: 1px;
    }

    .card-item .member-count {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

.card-title {
    min-height: 35px;
    max-height: 45px;
    height: 72px;
    max-height: 230px;
    overflow: hidden;


}
    .card-title h2 {
        padding: 10px;
        font-size: 22px;
    }
    .card-title p {
        padding: 5px 10px;
    }