

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 52px;
    padding-bottom: 20px;
}

.site-background{
    background:
        radial-gradient(circle, transparent 20%, #EDEDED 20%, #EDEDED 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #EDEDED 20%, #EDEDED 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#F5F5F5 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, #F5F5F5 8px, transparent 8px) -4px 0;
    background-color: #EDEDED;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    color: #3d4e5d;
}

.navbar {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 79%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(79%,rgba(249,249,249,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 79%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 79%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 79%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 79%,rgba(244,244,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.font-white{
    color: white;
}

.center {
    text-align: center;
}


.padding-vert-md {
    padding: 1.1em 0em;
}

.spacer-vert {
    padding-top: 1.2em;
}

.space-top-md {
    padding-top: 1.5em;
}
.space-top-lg {
    padding-top: 2.5em;
}

.feature-column {
    height: 200px;
    color: #3d4e5d;
}
    .feature-column .btn {
        bottom: 0;
        position: absolute;
    }

.group-card-container {
    padding: 15px 0px;
}

.group-card {
    float: left;
    width: 200px;
    height: 200px;
    background-color: #6b89a1;
    margin: 15px 30px;
    text-align: center;
    vertical-align: middle;
}