<div id="cardHolder">
    <div class="cardItem" ng-repeat="group in groups" ng-click="goToGroup(group.GroupId)">
        <div class="cardTitle">
            <h2>{{group.Name}}</h2>
        </div>
        <div class="info">
            <div class="bioPic">
                <img src=""/>
            </div>
            <div class="bioInfo">
                <p>{{group.Description}}</p>
            </div>
        </div>
        <h4 class="member-count">
            <span class="label label-info">{{group.Places.length}} Places</span>
            <span class="label label-primary">{{group.Members.length}} Members</span>
        </h4>

    </div>
</div>
