<div class="jumbotron cross-pattern">
    <div class="container">
        <h1>Find Somewhere New</h1>
        <div class="center space-top-md">
            <div class="row">
                <div class="col-md-4">
                    <span class="label label-info">{{stats.groupsCount}}</span> Groups Started
                </div>
                <div class="col-md-4">
                    <span class="label label-info">{{stats.placesCount}}</span> Places Discovered
                </div>
                <div class="col-md-4">
                    <span class="label label-info">{{stats.eventsCount}}</span> Upcoming Events
                </div>
            </div>
        </div>

        <div class="center space-top-lg">
            <a class="btn btn-primary btn-lg" href="https://github.com/indigo0086/spa-lunch-and-learn" target="_blank">
                Contribute on Github &nbsp;<i class="icon-github"></i>
            </a>
        </div>

    </div>
</div>

<!-- Main Navigation Headers -->
<div class="container">
    <div class="row">
        <div class="col-md-4 feature-column">
            <h2>
                Groups <i class="icon-group"></i>
            </h2>

            <p class="lead">View and join existing groups to vote later.</p>
            <a class="btn btn-primary btn-lg" href="#/Groups">Join</a>
        </div>

        <div class="col-md-4 feature-column">
            <h2>
                Upcoming Events <i class="icon-time"></i>
            </h2>

            <p class="lead">Join or host upcoming events.</p>
            <a class="btn btn-primary btn-lg" href="#/Events">Look</a>
        </div>

        <div class="col-md-4 feature-column">
            <h2>
                Places <i class="icon-globe"></i>
            </h2>

            <p class="lead">View and discover past and present places.</p>
            <a class="btn btn-primary btn-lg" href="#/Places">Discover</a>
        </div>
    </div>
</div>