<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <!--<a class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed">-->
                    <!--<span class="sr-only">Toggle Navigation</span>-->
                    <!--<i class="icon-circle-arrow-down"></i>-->
                <!--</a>-->
                <a class="navbar-brand" href="#">{{brandName}}</a>
            </div>

            <div>
                <div class="nav navbar-nav" ng-repeat="item in menuItems">
                    <li>
                        <a ng-href="{{item.url}}">{{item.title}}</a>
                    </li>
                </div>
            </div>

            <div class="pull-right user-notification">
                <i class="icon-user"></i>
                <span class="label label-primary">Welcome {{userName}}</span>
            </div>
        </div>
    </div>
</div>